<section class="row justify-content-around mt-5">
    <h2 class="text-center mb-5">Novo Produto</h2>
    <section class="col-8 mb-3">
        <form>
            <div class="row">
                <div class="col-6 mb-3">
                    <label for="input-nome">Nome</label>
                    <input type="text" class="form-control" id="input-nome">
                </div>
                <div class="col-5 mb-3">
                    <label>Categoria</label>
                    <select class="input-categoria form-control">
                        <option selected>Selecione</option>
                    </select>
                </div>
                <div class="col-1 mb-3">
                  <label style="visibility: hidden;">Categoria</label>
                  <button id="btn-categoria" class="h-50 btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalCategoria">
                    <p>Add</p>
                  </button>
                </div>
                <div class="col-6 mb-3">
                    <label for="input-marca">Marca</label>
                    <input type="text" class="form-control" id="input-marca">
                </div>
                <div class="col-6 mb-3">
                    <label for="input-fabricante">Fabricante</label>
                    <input type="text" class="form-control" id="input-fabricante">
                </div>
                <div class="col-6 mb-3">
                    <label for="input-preco">Preço</label>
                    <input type="number" class="form-control" id="input-preco">
                </div>
                <div class="col-6 mb-3">
                    <label for="input-estoque">Estoque</label>
                    <input type="number" class="form-control" id="input-estoque">
                </div>
                <div class="col-6 mb-3">
                    <label for="input-sobre">Sobre</label>
                    <textarea type="text" class="form-control" id="input-sobre"></textarea>
                </div>
                <div class="col-6 mb-3">
                    <label for="input-img">Imagem</label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="input-img">
                      </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button id="btn-submit" type="submit" class="btn btn-primary mt-2" style="min-width: 150px; max-width: 150px;">Cadastrar</button>
                    <div id="spinner" class="spinner-border text-primary d-none" role="status">
                        <span class="sr-only"></span>
                    </div>
                    
                </div>
                <div class="mt-2 d-flex justify-content-center">
                    <span id="error" style="color: red;"></span>
                </div>
            </div>
        </form>
    </section>

    <table id="tabela" class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ação</th>
            <th scope="col">Produto</th>
            <th scope="col">Categoria</th>
            <th scope="col">Marca</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Preço</th>
            <th scope="col">Estoque</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>

      <div id="modalEditar" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Editar Produto</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="modal-nome">Nome</label>
                        <input type="text" class="form-control" id="modal-nome">
                    </div>
                    <div class="col-6 mb-3">
                        <label>Categoria</label>
                        <select class="input-categoria form-control">
                            <option selected>Selecione</option>
                        </select>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="modal-marca">Marca</label>
                        <input type="text" class="form-control" id="modal-marca">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="modal-fabricante">Fabricante</label>
                        <input type="text" class="form-control" id="modal-fabricante">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="modal-preco">Preço</label>
                        <input type="number" class="form-control" id="modal-preco">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="modal-estoque">Estoque</label>
                        <input type="number" class="form-control" id="modal-estoque">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="modal-sobre">Sobre</label>
                        <textarea type="text" class="form-control" id="modal-sobre"></textarea>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="modal-img">Imagem</label>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="modal-img">
                          </div>
                    </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button id="btn-submit-alteracao" type="button" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
            </div>
          </div>
        </div>
      </div>

      <div id="modalExcluir" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Excluir produto</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Deseja excluir este produto ?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button id="btn-submit-delecao" type="button" data-bs-dismiss="modal" class="btn btn-primary">Sim</button>
            </div>
          </div>
        </div>
      </div>

      <div id="modalCategoria" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Nova Categoria</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row justify-content-center">
                    <div class="col-6 mb-3">
                        <label for="modal-categoria-nome">Nome</label>
                        <input type="text" class="form-control" id="modal-categoria-nome">
                    </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button id="btn-submit-categoria" type="button" data-bs-dismiss="modal" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </div>
      </div>

</section>