<section>
    <div class="row d-flex justify-content-center">
        <div class="row col-10">
            <div  class="col-6">
                <img id="imagem">
            </div>
            <div id="informacoes" class="col-6 text-center mt-5">
                <h5 class="mt-5" id="nome"></h5>
                <h5 id="preco">R$</h5>
                <p id="estoque">Em estoque: </p>
                <button class="btn btn-success">COMPRAR</button>
            </div>

            <div class="card" style="width: 100%;">
                <ul class="list-group list-group-flush">
                  <li id="marca" class="list-group-item"></li>
                  <li id="fabricante" class="list-group-item"></li>
                  <li id="sobre" class="list-group-item"></li>
                </ul>
              </div>
        </div>
    </div>
</section>