<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap-5.3.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/src/style/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
      <nav class="navbar navbar-expand-lg justify-content-center">
        <div class="container row">
            <div class="col-2 border border-dark rounded">
                <a class="navbar-brand m-0 p-0 d-flex align-items-center justify-content-around" href="#">
                    <img src="../../images/logo.jpg" alt="Logo" width="50" class="h-100 d-inline-block align-text-top">
                    <div class="">
                        <h4 class="brand-title m-0">Heisenberg's</h4>
                        <h5 class="brand-title m-0">Drugstore</h5>
                    </div>
                </a>
            </div>
            <div class="col-8 p-2 ">
                <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Medicamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Beleza</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dermocosméticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Higiene</a>
                    </li>
                    </ul>
                    <form class="d-flex justify-content-start" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <!-- <button class="btn btn-outline-success" type="submit">Buscar</button> -->
                    </form>
                </div>
            </div>
            <div class="col-2 p-2">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Cadastre-se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Entrar</a>
                    </li>
            </div>
        </div>
      </nav>
</body>

<script src="/bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js"></script>
</html>